.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: #fff;
  margin-right: 1rem;
}

.content {
  display: flex;
  width: 100%;
}

.DynamicChart {
  height: 400px;
}

.new-system {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #1e1e1e;
}

.content-area {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
}

.bottom-form {
  width: 100%;
  padding: 1rem;
  background-color: #f0f0f0;
  margin-top: 1rem;
}